
  .main
  {
      background: url('service.jpg') ;
      display:flex;
      background-size:cover;
  }
  
   
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #9B7D61;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar .nav-links {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}

.navbar .nav-links li {
    display: inline;
}

.navbar .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s;
    font-weight: 1500;
}

.navbar .nav-links a:hover {
    color: #f7eee4;
}




  .container
  {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 4rem 18rem;
      padding: 40px 47px;
      box-shadow: 10px 10px 18px -8px #edf0ee6c,-10px -10px 24px #deebe3;
      height: 600px;
      width:auto;
     border-radius: 20px;
     background-color:rgb(168, 136, 98);
    
  }
  .container img
  {
      height: 100%;
      width:300px;
      border-radius: 20px;
  }
  .About-Details
  {
      margin: 0 45px;
  
  
  }
  .About-Details h1
  {
      font-family: "sens-serif";
      font-weight: 1900;
      font-size: 40px;
      letter-spacing: 1 px;
      margin-bottom: 20px;
      color: rgb(32, 54, 19);
      text-align: center;
  
  }
  
  .About-Details h2
  {
      font-family: "sens-serif";
      font-weight: 850;
      font-size: 26px;
      letter-spacing: 1 px;
      margin-bottom: 20px;
      color: rgb(32, 54, 19);
  
  }
  .About-Details p 
  {
      color: white;
      font-size: 20px;
  
  }
  
  